body
{
	background-color: RGB(122, 186, 204);
	color: RGB(6, 73, 92);
}
#jeden
{
	float: left;
	width: 13%;
	margin-left: auto;
	margin-right: auto;
}
#dwa
{
	float: left;
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}
#banner
{
	background-color: RGB(129, 169, 184);
	text-align: center;
	height: 80px;
	padding: 10px;
	font-family: Gotham Rounded, sans-serif;
	width: 74%;
	float: left;
	margin-left: auto;
	margin-right: auto;
}
#banner2
{
	height: 80px;
	font-family: Gotham Rounded, sans-serif;
	background-color: RGB(129, 169, 184);
	text-align: center;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}
.skryp
{
	text-align: left;
	font-family: Consolas;
	text-align: center;
	
}
#przycisk
{
	background-color: RGB(6, 93, 120);
	padding: 10px;
}
#zdjecia1
{
	float: left;
	width: 29%;
	margin-left: auto;
	margin-right: auto;
	
}
#zdjecia2
{
	float: left;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	
}
#zdjecia3
{
	float: left;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	
}
#zdjecia4
{
	float: left;
	margin-left: auto;
	margin-right: auto;
	
	
}
h1
{
	text-align: center;
}
@media only screen and (max-width: 414px)
